.full-height {
  min-height: -o-calc(100vh - 56px);
  min-height: -webkit-calc(100vh - 56px);
  min-height: -moz-calc(100vh - 56px);
  min-height: calc(100vh- 56px);
  background-color: #193574;
}

.middle-blue-text {
  color: #7CDEDC !important;
}

.st-patricks-blue-text {
  color: #193574 !important;
}

.bold-upper {
  font-weight: bold !important;
  text-transform: uppercase;
}

.table-of-contents a:hover,
.table-of-contents a.active {
  padding-left: 16px;
  border: none;
}

.dropdown-content li:hover,
.hoverable-link:hover {
  background-color: transparent;
}

.text {
  font-size: 16px;
}

.st-patricks-blue {
  background-color: #7CDEDC !important;
}

.no-outline {
  outline: none;
}

.table-of-contents a:hover,
.table-of-contents a.active,
.bubble-gum-text,
.hoverable-link:hover {
  color: #FFCDC7 !important;
}

.card.medium .card-image+.card-content {
  max-height: 100%;
}

blockquote {
  border-left-color: #FFCDC7;
}

.margin-right {
  margin-right: 15px;
}

@media (min-width: 601px) {

  .full-height {
    min-height: -o-calc(100vh - 64px);
    min-height: -webkit-calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: calc(100vh - 64px);
  }

  .left-padding {
    padding-left: 10px;
  }

}

@media (min-width: 690px) {

  .flow-text-limit {
    font-size: 1.464rem;
  }

}
