.full-height {
  min-height: -o-calc(100vh - 56px);
  min-height: -webkit-calc(100vh - 56px);
  min-height: -moz-calc(100vh - 56px);
  min-height: calc(100vh- 56px);
  background-color: #193574;
}

.options,
.header {
  color: #7CDEDC !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

.options:hover {
  color: #FFCDC7 !important;
  background-color: transparent;
}

.table-of-contents a:hover,
.table-of-contents a.active {
  padding-left: 16px;
  border: none;
  color: #FFCDC7 !important;
}

.dropdown-content li:hover {
  background-color: transparent;
}

.card-header {
  text-transform: uppercase;
  color: #FFCDC7 !important;
  font-weight: 500;
}

.card-content p,
.text {
  font-size: 16px;
}

.st-patricks-blue-text {
  color: #193574 !important;
}

.no-outline {
  outline: none;
}

.custom-icon {
  font-size: 40px;
  color: #7CDEDC !important;
}

.bubble-gum-text {
  color: #FFCDC7 !important;
}

blockquote {
  border-left-color: #FFCDC7;
}

.margin-right {
  margin-right: 25px;
}

@media (min-width: 601px) {

  .full-height {
    min-height: -o-calc(100vh - 64px);
    min-height: -webkit-calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: calc(100vh - 64px);
  }

  .left-padding {
    padding-left: 15px;
  }

}

@media (min-width: 690px) {

  .flow-text-limit {
    font-size: 1.464rem;
  }

}
